@import "./_variables.scss";

.loadingScreen{
  position: absolute;
  top: 50%;
  left: 50%;
}

.driverFormContainer{
  background-color: $background;
  width: 100%;
  height: 80vh;
  padding-left: 100px;
  padding-right: 100px;
}

.driverFormDirections{
  color: $highlight-text;
  font-size: 35px;
  text-align: center;
  // position: absolute;
  // top: 10%;
}

.driverFormInputs{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.driverFormLeft, .driverFormRight{
  width: 40%;
}

.driverFormImages{
  height: 30%;
  width: 100%;
}

.driverForm {
  width: 100%;

  .driver-input-field{
    position: relative;
    margin-top: 35px;
    padding: 20px 0;
    color: $normal-text;
    width: 100%;

    label{
      position: absolute;
      left: 10px;
      top: 10px;
      transition: .25s;
      font-weight: normal;
      pointer-events: none;
    }

    input{
      position: absolute;
      top: 0;
      left: 0;
      display: inline;
      outline: none;
      border: none;
      border-bottom: thin solid black;
      padding-left: 10px;
      height: 100%;
      width: 100%;
      text-align: left;
    }

    input:valid ~ label,
    input:focus ~ label{
      top: -25px;
      color: $primary-color;
    }
  }

}

#driver-form-send{
  margin: 10% 5% auto;
  font-size: 1.5em;
}
