@import "./_variables.scss";

.indexBanner{
  background-color: $background;
  height: 30vh;
  width: 100%;
  padding: 10%;
  margin: 5vh;

  h1{
    font-size: 5em;
    padding-top: .5em;
    color: $highlight-text;
    text-align: center;
  }
  h3{
    padding: 1em 0;
    color: $primary-color;
  }
}

.indexOptions{
  background-color: $background;
  height: 50vh;
  width: 100%;
  color: $normal-text;

  p{
    top: 0;
    font-size: 50px;
    text-align: center;
  }

  #buttons{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

