@import "./_variables.scss";



.indexBanner{
  background-color: $background;
  height: 30vh;
  width: 100%;
  padding: 10%;
  margin-bottom: 5%;

  h1{
    font-size: 56px;
    color: $highlight-text;
    text-align: center;
  }
  h3{
    padding: 1em 0;
    color: $primary-color;
  }
}

.indexOptions{
  background-color: $background;
  height: 45vh;
  width: 100%;
  color: $normal-text;

  p{
    top: 0;
    font-size: 42px;
    text-align: center;
  }

  #buttons{
    bottom: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

