@import "./_variables.scss";

.Background{
    width:100%;
    height:100%;
    text-align:center;
}

.Inner{
    background-color:$background;
    margin-top: 22.5%;
    padding:1.5em;
}

.Header{
    font-size:2em;
    color: $highlight-text;
    width:100%;
}

.Message{
    font-size:1.5em;
    color:$normal-text;
    padding:1.5em;
}

.Home{
    font-size:0.5em;
    color:$primary-color;
    justify-content: space-around;
    display:flex;
}
